<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
       <ion-back-button defaultHref="/"></ion-back-button>
     </ion-buttons>
     <ion-title>Card</ion-title>
  </ion-toolbar>   
</ion-header>

<ion-content>
    <ion-card mode="ios" color="primary" >
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          aqui voce coloca todo tipo de comentario sobre o card
        </ion-card-content>
      </ion-card>

      <ion-card>
         <ion-item color="primary">
            <ion-icon color="light" slot="start" name="pin"></ion-icon>
            <ion-label>Marcador</ion-label>
         </ion-item>
      
          <ion-card-content>
            conteudo por sua conta !
          </ion-card-content>
      </ion-card>
      <ion-card  class="espaco">
        <ion-img src="./assets/shapes.svg"></ion-img>
        <ion-label>Imagen</ion-label>
      </ion-card>



</ion-content>
